/* Scroll To Top Button */

#topBtn{

position:fixed;

bottom:30px;

right:30px;

width:50px;

height:50px;

border:none;

border-radius:50%;

background:#00bcd4;

color:white;

font-size:22px;

cursor:pointer;

display:none;

z-index:999;

transition:.3s;

}

#topBtn:hover{

background:#0b2c4d;

transform:scale(1.1);

}

/* Ripple Effect */

button,
.btn{

position:relative;

overflow:hidden;

}

.ripple{

position:absolute;

border-radius:50%;

background:rgba(255,255,255,.5);

transform:scale(0);

animation:ripple .6s linear;

pointer-events:none;

}

@keyframes ripple{

to{

transform:scale(4);

opacity:0;

}

}

/* Fade Animation */

.card,
.feature,
.member,
.info-card{

opacity:0;

transform:translateY(30px);

transition:all .8s ease;

}

.show{

opacity:1;

transform:translateY(0);

}

/* Active Navigation */

nav a.active{

color:#00d4ff;

font-weight:700;

}